{% extends 'layout.html' %}
{% block title %}{{employee.name}}{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="col-lg-6 offset-lg-3 col-12">
        <div class="card shadow rounded-4">
            <div class="card-body">
                <h2 class="card-title fw-normal">
                    {{ employee.name }}
                </h2>
                <p class="card-text mb-1">
                    Email: {{ employee.email }}
                </p>
                <p class="card-text mb-1">
                    Department: {{ employee.department }}
                </p>
                <p class="card-text mb-1">
                    Salary: {{ employee.salary }}
                </p>
            </div>

            <div class="card-body">
                <a class="btn btn-info me-2 rounded-4" href="{{ url_for('update_employee', id=employee.id) }}">Edit</a>
                <form class="d-inline" action="{{ url_for('delete_employee', id=employee.id) }}" method="GET">
                    <button class="btn btn-danger rounded-4">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}